# Ignore super-large csv files (don't add to lfs)

**/*promoters_all.csv
promoters_all.csv

**/*EPDnew_promoters_for_ML.csv
EPDnew_promoters_for_ML.csv

**/*RegulonDB_promoters_for_ML
RegulonDB_promoters_for_ML

**/*.csv
*.csv

**/*.txt
*.txt

**/*GRCh38_latest_rna.txt
*GRCh38_latest_rna.txt

**/*e_coli_Gene_sequence.txt
*e_coli_Gene_sequence
